<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/main.css">
    <style>[data-ng-cloak] { display: none; }</style>
</head>
    <body data-ng-app="NameListApp">

    <md-content data-ng-controller="NameListController" layout="vertical" layout-padding="">

        <div>
            <md-list>
                <md-item data-ng-repeat="item in nameListModel.items" data-ng-cloak="">
                    <md-item-content>
                        <div class="md-tile-left">
                            <h2>{{item.id}}</h2>
                        </div>
                        <div class="md-tile-content">
                            <h4>Name: {{item.lastName}}, {{item.firstName}}</h4>
                            <h4>Email: {{item.email}}</h4>
                            <md-button aria-label="edit" class="md-raised md-primary" data-ng-click="onEditItem($event, item)">Edit</md-button>
                            <md-button aria-label="delete" class="md-raised md-warn" data-ng-click="onDeleteItem($event, item)">Delete</md-button>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </div>

        <div>
            <md-button aria-label="add" class="md-raised md-primary" data-ng-click="onAddItem($event)">Add</md-button>
            <md-button aria-label="add" class="md-raised md-warn" data-ng-click="onReset($event)">Reset</md-button>
        </div>

    </md-content>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/NameListController.js"></script>
    <script src="scripts/controllers/ItemDialogController.js"></script>
    <script src="scripts/controllers/ConfirmationDialogController.js"></script>
    <script src="scripts/services/NameListPersistenceService.js"></script>
    <script src="scripts/services/ItemDialogService.js"></script>
    <script src="scripts/services/ConfirmationDialogService.js"></script>
    <script src="scripts/services/NotificationService.js"></script>
    <script src="scripts/models/NameListModel.js"></script>
    <script src="scripts/models/ItemDialogModel.js"></script>
    <script src="scripts/models/ConfirmationDialogModel.js"></script>
</body>
</html>
