<md-dialog id="confirmationDialog">
    <md-subheader class="md-primary">{{confirmationDialogModel.title}}</md-subheader>
    <md-content class="md-content">
        <p>{{confirmationDialogModel.text}}</p>
        <div class="md-actions">
            <md-button id="yesBtn" aria-label="yes" class="md-raised md-warn" data-ng-click="onYes()">Yes</md-button>
            <md-button id="noBtn" aria-label="no" class="md-raised" data-ng-click="onNo()">No</md-button>
        </div>
    </md-content>
</md-dialog>
