<md-dialog id="itemDialog">
    <md-subheader>{{itemDialogModel.title}}</md-subheader>
    <md-content class="dialog-content">
        <form>
            <md-text-float label="FirstName" data-ng-model="itemDialogModel.item.firstName"></md-text-float>
            <md-text-float label="LastName" data-ng-model="itemDialogModel.item.lastName"></md-text-float>
            <md-text-float label="Email" data-ng-model="itemDialogModel.item.email" type="email" class="long"></md-text-float>
        </form>
        <div class="dialog-actions">
            <md-button aria-label="ok" class="md-raised md-primary" data-ng-click="onOk()">OK</md-button>
            <md-button aria-label="cancel" class="md-raised" data-ng-click="onCancel()">CANCEL</md-button>
        </div>
    </md-content>
</md-dialog>
