<md-dialog id="itemDialog">
    <md-subheader class="md-primary">{{itemDialogModel.dialogTitle}}</md-subheader>
    <md-content class="md-content">
        <form novalidate="" name="itemDialogForm">
            <!--<md-text-float label="FirstName" data-ng-model="itemDialogModel.item.firstName" required=""></md-text-float>-->
            <!--<md-text-float label="LastName" data-ng-model="itemDialogModel.item.lastName" required=""></md-text-float>-->
            <!--<md-text-float label="Email" data-ng-model="itemDialogModel.item.email" required="" type="email" class="long"></md-text-float>-->
            <md-input-container>
                <label>FirstName</label>
                <input data-ng-model="itemDialogModel.item.firstName" required="">
            </md-input-container>
            <md-input-container>
                <label>LastName</label>
                <input data-ng-model="itemDialogModel.item.lastName" required="">
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input data-ng-model="itemDialogModel.item.email" required="" type="email" class="long">
            </md-input-container>
        </form>
        <div class="md-actions">
            <md-button id="okBtn" aria-label="ok" class="md-raised md-primary" data-ng-click="onOk()" data-ng-disabled="itemDialogForm.$invalid">OK</md-button>
            <md-button id="cancelBtn" aria-label="cancel" class="md-raised" data-ng-click="onCancel()">CANCEL</md-button>
        </div>
    </md-content>
</md-dialog>
